= simple_form_for(@profile) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :image_url
    = f.input :image_url_small
    = f.input :image_url_medium
    = f.input :birthday
    = f.input :gender
    = f.input :bio
    = f.input :searchable
    = f.input :user_id
    = f.input :location
    = f.input :full_name
    = f.input :nsfw

  .form-actions
    = f.button :submit
