%p#notice= notice

%p
  %b First name:
  = @profile.first_name
%p
  %b Last name:
  = @profile.last_name
%p
  %b Image url:
  = @profile.image_url
%p
  %b Image url small:
  = @profile.image_url_small
%p
  %b Image url medium:
  = @profile.image_url_medium
%p
  %b Birthday:
  = @profile.birthday
%p
  %b Gender:
  = @profile.gender
%p
  %b Bio:
  = @profile.bio
%p
  %b Searchable:
  = @profile.searchable
%p
  %b User:
  = @profile.user_id
%p
  %b Location:
  = @profile.location
%p
  %b Full name:
  = @profile.full_name
%p
  %b Nsfw:
  = @profile.nsfw

= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
