= simple_form_for @page, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :content
  = f.input :secret_field
  = f.input :parent_id
  = f.input :lft
  = f.input :rgt
  = f.input :depth
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), pages_path, :class => 'btn'
