- model_class = Page
.span3.leftsidebar= render 'sidebar'

.span9
  = render_breadcrumbs
  .well
    .navbar.navbar-heading
      .navbar-inner
        .container
          %span.brand= raw(t '.title', :default => model_class.model_name.human + " "+ t('labels.show'))
          = link_to raw('<i class="icon-plus-sign"></i> ' + t('.new', :default => t("helpers.links.new"))), new_countrylanguage_path, :class => 'btn btn-success btn-mini btn-plus pull-right'


      %p
        %strong= model_class.human_attribute_name(:title) + ':'
        %br
        = @page.title
      %p
        %strong= model_class.human_attribute_name(:content) + ':'
        %br
        = @page.content
      %p
        %strong= model_class.human_attribute_name(:secret_field) + ':'
        %br
        = @page.secret_field
      %p
        %strong= model_class.human_attribute_name(:parent_id) + ':'
        %br
        = @page.parent_id
      %p
        %strong= model_class.human_attribute_name(:lft) + ':'
        %br
        = @page.lft
      %p
        %strong= model_class.human_attribute_name(:rgt) + ':'
        %br
        = @page.rgt
      %p
        %strong= model_class.human_attribute_name(:depth) + ':'
        %br
        = @page.depth

      .form-actions
        = link_to t('.back', :default => t("helpers.links.back")), pages_path, :class => 'btn'
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_page_path(@page), :class => 'btn'
        = link_to t('.destroy', :default => t("helpers.links.destroy")), page_path(@page), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
