- model_class = Country
%table.datatable.ajaxed.display.table.table-striped.table-bordered{"data-source"=> countries_url(format: "json", jqdata: true)}
  %thead
    %tr
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:continent)
      %th= model_class.human_attribute_name(:region)
      %th= model_class.human_attribute_name(:indepyear)
      %th= model_class.human_attribute_name(:population)
      %th= model_class.human_attribute_name(:capital)
      %th=t '.actions', :default => t('helpers.actions')
  %tbody
