%pre.debug_dump= '[SQL] ' + @countries.to_sql
%table.display.table.table-striped.table-bordered
  %thead
    %tr
      %th{:width => 10}= '<input type="checkbox" class="toggle">'.html_safe
      %th= sort_link @search, :code, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th= sort_link @search, :name, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th= sort_link @search, :continent, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th= sort_link @search, :region, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th= sort_link @search, :indepyear, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th= sort_link @search, :population, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th= sort_link @search, :capital, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th=t '.actions', :default => t("helpers.actions")
  %tbody

  - @countries.each do |country|
    %tr
      %td <input id="bulk_ids_" name="bulk_ids[]" type="checkbox" value="#{country.id.to_s}">
      %td= country.code
      %td= link_to country.name, country
      %td= country.continent
      %td= country.region
      %td= country.indepyear
      %td= country.population
      %td= country.capital
      %td
        = link_to('Edit', "/countries/#{country.id}/edit", :class => 'btn btn-mini')
        = link_to('Delete', "/countries/#{country.id}", :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-mini btn-danger')

= paginate @countries