.well
  .navbar.navbar-heading
    .navbar-inner
      .container
        %span.brand Quick Links
  %ul.nav.nav-tabs.nav-stacked
    %li= link_to 'Country List <i class="icon-list-alt float-right"></i>'.html_safe, countries_path
    %li= link_to 'New Country <i class="icon-plus-sign float-right"></i>'.html_safe, new_country_path

  - countries = Country.all( limit: 5, order: "code desc")

.well
  .navbar.navbar-heading
    .navbar-inner
      .container
        %span.brand Last 5 search terms
  %ul.nav.nav-tabs.nav-stacked
    - countries.each do |c|
      %li= link_to "#{c.name} <i class=\"icon-file float-right\"></i>".html_safe , c if c.present?
    %li= 'nothing found' unless countries.present?

