- model_class = Country

.span3.leftsidebar= render 'sidebar'
.span9
  = render_breadcrumbs
  .well
    .navbar.navbar-heading
      .navbar-inner
        .container
          %span.brand= raw(t '.title', :default => model_class.model_name.human + " " + t('labels.new'))
          = link_to raw('<i class="icon-plus-sign"></i> ' + t('.new', :default => t("helpers.links.new"))), new_country_path, :class => 'btn btn-success btn-mini btn-plus pull-right'


    = render :partial => "form"
