%pre.debug_dump= '[SQL] ' + @cities.to_sql
%table.display.table.table-striped.table-bordered
  %thead
    %tr
      %th{:width => 10}= '<input type="checkbox" class="toggle">'.html_safe
      %th= sort_link @search, :name, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th= sort_link @search, :countrycode, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th= sort_link @search, :district, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th= sort_link @search, :population, {}, :method => action_name == 'advanced_search' ? :post : :get
      %th=t '.actions', :default => t("helpers.actions")
  %tbody

  - @cities.each do |city|
    %tr
      %td <input id="bulk_ids_" name="bulk_ids[]" type="checkbox" value="#{city.id.to_s}">
      %td= link_to city.name, city
      %td= city.countrycode
      %td= city.district
      %td= city.population
      %td
        = link_to('Edit', "/cities/#{city.id}/edit", :class => 'btn btn-mini')
        = link_to('Delete', "/cities/#{city.id}", :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-mini btn-danger')

= paginate @cities