@<%= js_application_name %>.module "<%= module_name_class %>.<%= @controller %>", (<%= @controller %>, App, Backbone, Marionette, $, _) ->

  class <%= @controller %>.Controller extends App.Controllers.Base

    initialize: ->
      <%= module_name_underscore %> = App.request "<%= singlularized_lower_module_name %>:entities"
      App.execute "when:fetched", <%= module_name_underscore %>, =>
        @layout = @getLayoutView <%= module_name_underscore %>
        @listenTo @layout, "close", @close
        @listenTo @layout, "show", =>
          @breadcrumbRegion()
          @sidebarRegion()
          @panelRegion()
          @listRegion <%= module_name_underscore %>
        @show @layout

    breadcrumbRegion: ->
      breadcrumbView = @getBreadcrumbView()
      @layout.breadcrumbRegion.show breadcrumbView

    sidebarRegion: ->
      sidebarView = @getSidebarView()
      @layout.sidebarRegion.show sidebarView

    panelRegion: ->
      panelView = @getPanelView()
      @listenTo panelView, "new:<%= singlularized_lower_module_name %>:button:clicked", =>
        @newRegion()
      @layout.panelRegion.show panelView

    newRegion: ->
      App.execute "new:<%= singlularized_lower_module_name %>", @layout.newRegion

    listRegion: (<%= module_name_underscore %>) ->
      listView = @getListView <%= module_name_underscore %>
      @listenTo listView, "childview:<%= singlularized_lower_module_name %>:clicked", (child, args) ->
        App.vent.trigger "<%= singlularized_lower_module_name %>:clicked", child.model
      @layout.listRegion.show listView

      ActionsCell = Backgrid.Cell.extend(
        className: 'actions'
        template: _.template("<a href='#<%= module_name_underscore %>/<%%= id %>' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-eye-open'></span></a> <a href='#<%= module_name_underscore %>/<%%= id %>/edit' class='btn <%= singlularized_lower_module_name %>-edit btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span> </a> <button data-id='<%%= id %>' class='<%= singlularized_lower_module_name %>-delete btn btn-danger btn-xs' data-type='confirm'><span class='glyphicon glyphicon-trash'></span></button>")
        events:
          "click .<%= singlularized_lower_module_name %>-delete": "deleteRow"
        deleteRow: (e) ->
          e.preventDefault()
          <%= js_application_name %>.Notify.confirm(@model)
        render: ->
          @$el.html @template({id: @model.id})
          @delegateEvents()
          @
      )

      columns = [
        name: "title"
        cell: "string"
      ,
        name: "id"
        label: "Actions"
        sortable: false
        editable: false
        cell: ActionsCell
      ]

      if listView.hasOwnProperty 'collection'
        grid = new Backgrid.Grid
          className: "backgrid table table-striped table-bordered table-hover"
          collection: listView.collection
          columns: columns

        $("#grid").append(grid.render().$el)
        $("thead tr").addClass("warning")

        class Paginator extends Backgrid.Extension.Paginator
          columns: columns
          collection: listView.collection
          className: 'backgrid-paginator'

        paginator = new Paginator(
          columns: columns
          collection: listView.collection
        )
        $("#paginator").append paginator.render().$el

        class Filter extends Backgrid.Extension.ServerSideFilter
          template: _.template('<div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span><input autocomplete="off" class="form-control h35" type="text" name="<%- name %>" /><span class="input-group-addon"><a class="close" href="#">&times;</a></span></div>')
          className: 'backgrid-filter form-search'
          placeholder: "Search"
          collection: listView.collection

        filter = new Filter(
          collection: listView.collection
          fields: ["title"]
        )
        $("#filters").append filter.render().$el
        started_at = Date.now()
        listView.collection.fetch(reset: true)
        $('#elapsed_time').text((Date.now() - started_at) / 1000)


    getBreadcrumbView: ->
      new List.Breadcrumb

    getSidebarView: ->
      new List.Sidebar

    getListView: (<%= module_name_underscore %>) ->
      new List.ListView
        collection: <%= module_name_underscore %>

    getPanelView: ->
      new List.Panel

    getLayoutView: (<%= module_name_underscore %>) ->
      new List.Layout
        collection: <%= module_name_underscore %>
