- model_class = Countrylanguage

.span3.leftsidebar= render 'sidebar'

.span9
  = render_breadcrumbs
  .well
    .navbar.navbar-heading
      .navbar-inner
        .container
          %span.span7.brand= t '.title', :default => model_class.model_name.human.pluralize
          .span5
            %ul#filter-links.navbar-stacked.pull-right
              %li= link_to raw('<i class="icon-plus-sign"></i> ' + t('.new', :default => t("helpers.links.new"))), new_countrylanguage_path, :class => 'btn btn-inverse btn-mini'
              %li= link_to raw('<i class="icon-filter"></i> ' + t('.new', :default => t("helpers.links.switch_to_simple_mode"))), search_countrylanguages_path, :class => 'btn btn-inverse btn-mini'

    #filters
      .advanced-search-form
        = search_form_for @search, url: advanced_search_countrylanguages_path, html: {method: :post, :class => 'form-horizontal'} do |f|
          - setup_search_form f
          %fieldset
            %legend Sorting
            = f.sort_fields do |s|
              = render 'sort_fields', f: s
            = button_to_add_fields "Add Sort", f, :sort
          %fieldset
            %legend Condition Groups
            = f.grouping_fields do |g|
              = render 'grouping_fields', f: g
            = button_to_add_fields "Add Condition Group", f, :grouping
          %label.checkbox
            = check_box_tag :distinct, '1', params[:distinct].to_i == 1, :checked => 1
            = "Return distinct records?"

          = f.submit :submit, :class => 'btn btn-info'

    = render 'results'