- model_class = Countrylanguage
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:countrycode)
      %th= model_class.human_attribute_name(:language)
      %th= model_class.human_attribute_name(:isofficial)
      %th= model_class.human_attribute_name(:percentage)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @countrylanguages.each do |countrylanguage|
      %tr
        %td= link_to countrylanguage.id, countrylanguage_path(countrylanguage)
        %td= countrylanguage.countrycode
        %td= countrylanguage.language
        %td= countrylanguage.isofficial
        %td= countrylanguage.percentage
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_countrylanguage_path(countrylanguage), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), countrylanguage_path(countrylanguage), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_countrylanguage_path, :class => 'btn btn-primary'
