- model_class = Countrylanguage

.span3.leftsidebar= render 'sidebar'


.span9
  = render_breadcrumbs
  .well
    .navbar.navbar-heading
      .navbar-inner
        .container
          %span.span7.brand= t '.title', :default => model_class.model_name.human.pluralize
          .span5
            %ul#filter-links.navbar-stacked.pull-right
              %li= link_to raw('<i class="icon-plus-sign"></i> ' + t('.new', :default => t("helpers.links.new"))), new_countrylanguage_path, :class => 'btn btn-inverse btn-mini'
              %li= link_to raw('<i class="icon-filter"></i> ' + t('.new', :default => t("helpers.links.switch_to_advanced_mode"))), advanced_search_countrylanguages_path, :class => 'btn btn-inverse btn-mini'

    #filters
      .search-form
        = search_form_for @search, :url => search_countrylanguages_path, :html => {:method => :post, :class => 'form-vertical well filters'} do |f|
          .control-group
            = f.label :countrycode_cont, :class => 'control-label'
            .controls= f.text_field :countrycode_cont, :class => 'input-large'

          .control-group
            = f.label :language_cont, :class => 'control-label'
            .controls= f.text_field :language_cont, :class => 'input-large'

          %label.checkbox
            = check_box_tag :distinct, '1', params[:distinct].to_i == 1, :checked => 1
            = "Return distinct records?"
          .form-actions
            = f.submit :search, :class => 'btn btn-v'
            = f.button :cancel, :class => 'btn'

    = render 'results'