.well
  .navbar.navbar-heading
    .navbar-inner
      .container
        %span.brand Last 5 contracts
  %ul.nav.nav-tabs.nav-stacked
    %li= link_to 'View Profile <i class="icon-group float-right"></i>'.html_safe, '/profile'
    %li= link_to 'Edit Account <i class="icon-cog float-right"></i>'.html_safe, edit_user_registration_path
    %li= link_to 'View Profile <i class="icon-group float-right"></i>'.html_safe, '/profile'
    %li= link_to 'View Profile <i class="icon-group float-right"></i>'.html_safe, '/profile'
    %li= link_to 'View Profile <i class="icon-group float-right"></i>'.html_safe, '/profile'

.well
  .navbar.navbar-heading
    .navbar-inner
      .container
        %span.brand Last 5 search terms
  %ul.nav.nav-tabs.nav-stacked
    %li= link_to 'View Profile <i class="icon-group float-right"></i>'.html_safe, '/profile'
    %li= link_to 'Edit Account <i class="icon-cog float-right"></i>'.html_safe, edit_user_registration_path
    %li= link_to 'Edit Account <i class="icon-cog float-right"></i>'.html_safe, edit_user_registration_path
    %li= link_to 'Edit Account <i class="icon-cog float-right"></i>'.html_safe, edit_user_registration_path
    %li= link_to 'Edit Account <i class="icon-cog float-right"></i>'.html_safe, edit_user_registration_path

.well
  .navbar.navbar-heading
    .navbar-inner
      .container
        %span.brand Most Popular
  %ul.nav.nav-tabs.nav-stacked
    %li= link_to 'View Profile <i class="icon-group float-right"></i>'.html_safe, '/profile'
    %li= link_to 'Edit Account <i class="icon-cog float-right"></i>'.html_safe, edit_user_registration_path
    %li= link_to 'Edit Account <i class="icon-cog float-right"></i>'.html_safe, edit_user_registration_path
    %li= link_to 'Edit Account <i class="icon-cog float-right"></i>'.html_safe, edit_user_registration_path
    %li= link_to 'Edit Account <i class="icon-cog float-right"></i>'.html_safe, edit_user_registration_path

.well
  .navbar.navbar-heading
    .navbar-inner
      .container
        %span.brand Quick Links
  %ul.nav.nav-tabs.nav-stacked
    %li= link_to 'Rate List <i class="icon-list float-right"></i>'.html_safe, rates_path
    %li= link_to 'Create New <i class="icon-plus-sign float-right"></i>'.html_safe, new_rate_path
