!!!
%html{:lang => I18n.locale.to_s, :dir => (rtl?) ? 'rtl' : 'ltr'}
  %head
    %title= raw [content_for?(:title) ? yield(:title) : [params[:controller], params[:action]].join(" » ").titleize + " : Home", AppConfig.settings.app_name].join(" &raquo; ")
    = stylesheet_link_tag "minimal"

  %body
    = flash_messages
    = yield
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery_ujs"